header {
    display: flex;
    background: #b1aaaa;
    border-bottom: 1px solid #999;
    justify-content: space-between;
    padding:5px 30px;
}

header .LogoGroup {
    display: flex;
    width: 60px;
    gap:60px;
}

header .LogoGroup h1 {
    display:flex;
    width:200%;
    font-size:15px;
    font-weight: bolder;
}

header .LogoGroup img {
    max-height: 50px;
    
}