header {
    display: flex;
    background-image: url("fire.jpg");
    border-bottom: 1px solid #999;
    justify-content: space-between;
    padding:5px 50px;
}

header .LogoGroup {
    display: flex;
    width: 60px;
    gap:60px;
}

header .LogoGroup h1 {
    display:flex;
    width:100;
    font-size:15px;
    font-weight: bolder;
}

header .LogoGroup img {
    height: 67px;
    width: 67px;
    padding:10px 0px;
    
    
}